@import 'normalize';

@import 'scafolding';

body {
  padding: 0;
}

.mainWrapper {
display: flex;
flex-direction: column;
align-items: center;
//background-color: azure;
}
.text{
  text-decoration: underline;
}

